body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  font-size: 0.9rem;
  font-weight: bold; 
  margin-top: 5px;
  text-align: left;
}

.success {
  color: green;
  font-size: 0.9rem;
  font-weight: bold; 
  margin-top: 5px;
  text-align: left;
}

.complete-profile-form {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  text-align: center; 
}

.complete-profile-form button {
  display: block;
  align-self: center; 
  margin: 20px 0 0 0; 
  width: auto; 
}
