/* Estilos para el spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #007bff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #007bff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 0.9rem;
  font-weight: bold; 
  margin-top: 5px;
  text-align: left;
}

.exercise-log {
  padding: 20px;
  text-align: center;
}

.exercise-log h1 {
  color: #000000;
  margin-bottom: 30px;
}

.exercise-plan {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fcf7de;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.exercise-plan h1 {
  color: #007bff;
  margin-bottom: 30px;
}

.exercise-plan h2 {
  color: #0056b3;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-top: 20px;
}

.exercise-plan ul {
  padding-left: 20px;
}

.exercise-plan li {
  margin: 8px 0;
}